# Ignore everything in the folder
*

# But do not ignore .gitignore itself
!.gitignore

# Do not ignore YAML files
!*.yaml
!*.yml

# Do not ignore python
!*.py

# do not ignore lib/ folder
!lib/

# do not ignore lib folder contents
!lib/**